/* paleta de colores usadas en algun momentuuum */

/*Paleta de colores para menu*/
$sombra: #c1c1c1;
$blanco:white;
$negro:black;
$borderGreen:rgb(38, 255, 0) solid 0.2vh;
$backgroundForm: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(53, 56, 53, 0.75) 47%, rgba(159,191,167,0.6) 75%, rgba(159,191,167,0.47) 100%);
$filterForm:progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#9fbfa7', GradientType=1 );
/*Fin paleta de colores */

/* PROFILE */

$centrado: 0 auto;


